@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*:before,
*:after {
    box-sizing: border-box;
}

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f0f1f6;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.dropdown {
    margin-top: 50px;
    position: relative;
    width: 300px;
    height: 100px;
    background: #f0f1f6; 
    border-radius: 30px;
    box-shadow: 20px 20px 60px #d0d0d0,
                -20px -20px 60px #fff;
/* transition: all 500ms ease-in-out; */
    cursor: pointer;
}

.dropdow:active {
    background: #f0f1f6;
    box-shadow: inset 7px 7px 14px #d0d0d0,
                inset -7px -7px 14px #fff;
}

.dropdown input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: none;
    outline: none;
    background: none;
    color: #37373d;
    font-size: 1.2em;
    cursor: pointer;
    /* transition: all 500ms ease-in-out; */
}

.dropdown input:focus {
    outline: none;
    border: none;
}

.dropdown i {
    color: #37373d;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
}

.options {
    position: absolute;
    top: 130px;
    cursor: pointer;
    width: 300px;
    background: #f0f1f6; 
    border-radius: 30px;
    box-shadow: 20px 20px 60px #d0d0d0,
                -20px -20px 60px #fff;
    cursor: pointer;
}

.options li {
    color: #37373d;
    position: relative;
    padding: 15px;
    list-style-type: none;
}

.options li:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.options li:last-child {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.options li:hover {
    background: rgba(0,0,0,.1);
}